body{
    font-family:'Poppins',sans-serif;
    background:#0b0713;
    color:white;
    text-align:center;
    padding:40px;
}
h1 span{color:#a020f0;}
.container{
    max-width:420px;margin:auto;background:#160f23;
    padding:28px;border-radius:15px;
    box-shadow:0 0 25px rgba(150,0,255,.35);
}
input{
    width:90%;padding:13px;margin-top:15px;border-radius:10px;
    border:none;background:#251638;color:white;font-size:18px;
    outline:none;
}
button{
    width:92%;padding:13px;margin-top:18px;border-radius:10px;
    background:#8e1aff;border:none;color:white;font-size:17px;
    font-weight:600;cursor:pointer;transition:.2s;
}
button:hover{opacity:.85;}
.info{
    background:#211530;border-radius:10px;padding:12px;
    margin-top:20px;font-size:14px;color:#d8c9ff;line-height:20px;
}
.popup{
    display:none;position:fixed;top:0;left:0;width:100%;height:100%;
    background:rgba(0,0,0,.65);justify-content:center;align-items:center;
}
.pop-box{
    background:#1a1128;padding:20px;border-radius:12px;width:290px;
    box-shadow:0 0 20px rgba(170,0,255,.4);
}
.btn{background:#8e1aff;color:#fff;padding:10px;margin-top:8px;width:100%;border-radius:8px;border:none;}
.btn2{background:#38204f;color:#fff;}
.disable{background:#3b3b3b;}
.box{
    width:350px;margin:auto;background:#160f24;padding:25px;border-radius:14px;
    box-shadow:0 0 25px rgba(170,0,255,.45);
}
img.qr{width:230px;border-radius:12px;margin-bottom:10px;}
img.process{width:80px;height:80px;margin-bottom:10px;}
img.successGif{width:120px;height:120px;border-radius:50%;object-fit:cover;margin-bottom:15px;}
.detail{
    text-align:left;background:#211530;padding:15px;border-radius:10px;
    font-size:14px;line-height:22px;margin-top:10px;
}
